.hero {
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  color: #000;
  letter-spacing: -0.72px;
  font: 400 18px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.heroContent {
  display: flex;
  flex-direction: column;
  position: relative;
  /* min-height: 600px; */
  width: 100%;
  /* padding: 282px 70px 215px; */
}

.heroImage {
  position: absolute;
  inset: 0;
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.heroTitle {
  position: relative;
  margin-left: 100px;
  padding-top: 100px;
  /* padding-bottom: 200px; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media screen and (max-width: 610px) {
  .hero {
    max-width: 100%;
    font-size: 40px;
  }
  .heroContent {
    font-size: 40px;
    max-width: 100%;
    /* padding: 100px 20px 110px; */
  }

  .heroTitle {
    font-size: 28px;
    line-height: 42px;
    width: 60%;
    margin-left: 20px;
    margin-top: -10px;
  }
}