.servicesSection {
    background-color: #fff;
    display: flex;
    margin-top: -58px;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 112px 80px;
  }
  
  .servicesContainer {
    display: flex;
    margin-bottom: -23px;
    width: 100%;
    max-width: 1372px;
    flex-direction: column;
  }
  
  .servicesGrid {
    background-color: #fff;
    display: flex;
    width: 100%;
    align-items: start;
    gap: 40px 100px;
    flex-wrap: wrap;
    padding: 0 40px 132px;
  }
  
  .ctaButton {
    border-radius: 6px;
    background-color: #00d084;
    align-self: center;
    margin-top: 79px;
    width: 318px;
    max-width: 100%;
    color: #fff;
    text-align: center;
    letter-spacing: -0.26px;
    padding: 16px 53px;
    font: 500 17px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
  }
  
  @media screen and (max-width: 610px) {
    .servicesSection {
      max-width: 100%;
      margin-right: 4px;
      margin-top: -300px;
      padding: 100px 20px;
    }
  
    .servicesContainer {
      max-width: 100%;
      margin-bottom: 10px;
    }
  
    .servicesGrid {
      max-width: 100%;
      padding: 0 20px 100px;
    }
  
    .ctaButton {
      margin-top: 40px;
      padding: 16px 20px;
    }
  }