.headerDesktop {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 17px 5px 17px 20px;
  max-width: 100vw; /* Garante que o header não ultrapasse a largura da tela */
  box-sizing: border-box; /* Inclui padding e border na largura */
  overflow: hidden; /* Evita que o conteúdo transborde */
}

.logo {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 49px;
  align-self: stretch;
}

.navLinks {
  align-self: stretch;
  display: flex;
  gap: 20px;
  /* color: #000; */
  flex-wrap: wrap;
  margin: auto 0;
  font: 700 16px Inter, sans-serif;
}

.navLink {
  flex-grow: 1;
  text-align: center; /* Alinha os links de navegação de forma centralizada */
}

.activeLink {
  color: #00d084;
}

.buttonGroup {
  align-self: stretch;
  display: flex;
  gap: 27px;
  text-align: center;
  letter-spacing: -0.21px;
  margin: auto 0;
  font: 500 14px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  flex-wrap: wrap; /* Permite que os botões quebrem a linha se necessário */
}

.outlinedButton {
  display: flex;
  flex-direction: column;
  color: #00d084;
  justify-content: center;
  padding: 0px;
  border: 1px solid #00d084;
}

.buttonText {
  /* text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 6px;
  background-color: #fff;
  padding: 10px 15px;
}

.filledButton {
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  background-color: #00d084;
}

.filledButtonText {
  border-radius: 6px;
  background-color: #00d084;
}

/* LINKS INDIVIDUAIS */
.navLink {
  color: black; /* Cor preta por padrão */
  text-decoration: none;
  transition: color 0.3s ease; /* Transição suave entre as cores */
}

.navLink:hover {
  color: #00da62; /* Tom de turquesa ao passar o mouse */
}

.navLink:active {
  color: #89ffbe; /* Tom de turquesa mais claro ao clicar */
}

.activeLink {
  color: #89ffbe; /* Mantém a cor turquesa da sua classe ativa */
}

@media screen and (max-width: 1312px) {
  .headerDesktop {
    display: none;
  }
}