.headerMobile {
  display: none;
}

.logo {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 49px;
  align-self: stretch;
}

/* Overlay para capturar cliques fora do menu */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  z-index: 99; /* Atrás do menu, mas acima do resto */
}

/* Botão do menu hambúrguer */
.menuButton {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: inherit;
}

/* Menu hambúrguer */
.navLinks {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: row;
}

.navOpen {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 94%;
  background-color: white;
  flex-direction: column;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 100;
}

/* Botão de fechar */
.closeButton {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #888;
}

/* Responsividade */
@media screen and (max-width: 1312px) {
  .headerMobile {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 17px 20px;
    box-sizing: border-box;
    position: relative;
  }

  .menuButton {
    display: block;
  }

  .navLinks {
    display: none;
  }

  .navOpen {
    display: flex;
  }
}