.hero {
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  padding: 0 4px 8px;
  max-width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

.heroContent {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 650px;
  align-items: start;
  justify-content: center;
  padding: 170px 80px;

  height: 0vh; /* Garante que o conteúdo ocupe a altura total da viewport */
  justify-content: center; /* Centraliza verticalmente */
  padding: 0; /* Remove o padding adicional que pode estar criando o espaço em branco */
}

.heroImage {
  position: absolute;
  inset: 0;
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.textContainer {
  position: relative;
  display: flex;
  margin-bottom: -52px;
  width: 648px;
  max-width: 100%;
  flex-direction: column;
  padding: 150px 30px 250px 30px;
  background-color: #ffffffab;
}

.highContrastTextContainer {
  position: relative;
  display: flex;
  margin-bottom: -52px;
  width: 648px;
  max-width: 100%;
  flex-direction: column;
  padding: 150px 30px 250px 30px;
  background-color: #3d3d3dab;

}

@media (max-width: 991px) {
  .textContainer {
    margin-bottom: 10px;
  }
}

.heroTitle {
  /* color: #000; */
  font-size: 56px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: -0.84px;
  z-index: 10;
  margin-top: -18px;
}

.ctaButton {
  border-radius: 6px;
  background-color: #00d084;
  align-self: start;
  margin-top: 68px;
  font-size: 17px;
  /* color: #fff; */
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.26px;
  padding: 16px 48px;
  border: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media screen and (max-width: 610px) {
  .heroContent {
    padding: 20px;
  }

  .textContainer {
    width: 60%;
    padding: 20px;
    background-color: #00000000;
  }

  .heroTitle {
    font-size: 28px;
    line-height: 42px;
  }

  .ctaButton {
    font-size: 14px;
    padding: 12px 20px;
    margin-top: 15px;
  }
}